<main class="container">
  <h2>Welcome to Recipe Book</h2>
  <div class="recipe-list">
    {{#each recipes}}
      <div class="recipe-card">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        {{#if ../logged_in}}
          {{!-- <p>{{this.instructions}}</p> --}}
          {{#if this.has_nuts}}
            <p>Contains nuts</p>
          {{else}}
            <p>No nuts</p>
          {{/if}}
          <p>By: {{user.name}}</p>
          <a href="/api/recipe/{{this.id}}">View Recipe</a>
        {{else}}
          <p><a href="/login">Log in</a> to see more details.</p>
        {{/if}}
      </div>
    {{/each}}
  </div>
</main>