<h2>{{recipe.name}}</h2>
<h3>Ingredients</h3>
<ul>
  {{#each recipe.ingredients}}
    <li>{{name}}: {{amount}} - {{details}}</li>
  {{/each}}
</ul>

<h3>Instructions</h3>
<p>{{#each recipe.instructions}}{{this}}<br />{{/each}}</p>

<a href="/">Back to Home</a>